<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<!-- Inc -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
  <!-- Vue.js -->
  <div class="header" v-html="header"></div>
  <div class="add-item-form" v-if="state === 1">
    <input type="text" placeholder="Add new item" v-model="newitem" v-on:keyup.enter="saveItem" />
    <button class="btn btn-primary" v-bind:disabled="newitem.length === 0" v-on:click="saveItem">Save item</button>
  </div>
  <ul>
      <li v-for="item in items">{{ item }}</li>
  </ul>
  <button class="lol btn btn-primary" v-if="state === 0" v-on:click="changeState(1)">Add new</button>
  <button class="lol btn btn-danger" v-if="state === 1" v-on:click="changeState(-1)">Cancel</button>
</div>

<img id="myImage" src="assets/imgs/goals.jpg" />
<!-- Style -->
<style>
</style>

<!-- Script -->
<script>
  var animate, left=0, imgObj=null, right;

function init(){

   imgObj = document.getElementById('myImage');
   imgObj.style.position= 'absolute';
   imgObj.style.top = 0;
   imgObj.style.left = 0;
   imgObj.style.visibility='visible';

   right = document.documentElement.clientWidth - imgObj.width;
   moveRight();

}

function moveRight(){
    if (left < right) {
        left += 5;
        imgObj.style.left = Math.min(left, right) + 'px';

        animate = setTimeout(moveRight,20); // call moveRight in 20msec
    }
}
var vm = new Vue({ // vm - ViewModel from MVVM Pattern
  el: '.container',
  data: {
    state: 0,
    header: "<h1>I am Header</h1>",
    items: [
      "img1",
      "img2",
      "img3"
    ],
    newitem: ""
  },
  computed: {},
  methods: {
    saveItem: function() {
      this.items.push(this.newitem);
      this.newitem = "";
    },
    changeState: function(num) {
      this.state += num;
    }
  }
});
</script>
