/* Outside of Modal */
.launchModal > button {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #002a4c;

  border: 4px solid #00baff;
  border-radius: 5px;

  padding-bottom: 0px;
}
.launchModal > button:hover { color: #C71585; }

/* Make Modal Fullscreen */
.modal-dialog {
  width: 100%;
  max-width: 100%;

  height: 100%;
  min-height: 100%;

  margin: 0;
  padding: 0;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

/* OverWrite Modal CSS */
.modal {
  padding: 0 !important;
}
.modal-body {
  padding: 0 !important;
}

/* Header Buttons */
.modalHeaderButtons:focus,.modalHeaderButtons:active {
   outline: none !important;
   box-shadow: none;
}
.modalHeaderButtons {
  color: #002a4c;
  background-color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
}
.modalHeaderButtons:hover {
  color: #00baff;
}
.modalHeaderButtons.active {
  color: #00baff;
}

/* Header Buttons pghb2 */
#pghb1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #C71585;
}

/* Pages */
.modalPages {
  display: none;
}
.modalPages.active {
  display: block;
}
.absoluteWrapper {
  width: 100%;
  position: absolute;
}
.coverimg {
  width: 100%;
  /*
  object-fit: contain;
  overflow: hidden;
  overflow: scroll;
  */
}
/* pre-formulated measurements Assistant */
.textCenter {
  position: relative;
  text-align: center;
  padding: 0 54px 0 54px;
}
.textCenter>* {
  text-align: center;
}
/* NASLOVNA */
#onama {
  display: none; /* Fix Loading Problem where Button Appears in Top L corner */
  color: #002a4c;
  background-color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid white;
  border-radius: 5px;

  margin: 0;
  padding: 8px;
}
#onama:hover { color: #00baff; }

/* O NAMA */
.slideshow { display: none; }
.slide { display: none; }
.slideText {
  z-index: 1055;
  display: none;
}
.slideText.slide0 {
  color: white; font-size: 20px;
}
.slideText.slide1 {
  color: white; font-size: 20px;
}
.slideText.slide2 {
  color: white; font-size: 20px;
}
.slideGradient { display: none; }
.slideBtns[disabled] { visibility: hidden; }
.slideBtns {
  z-index: 1060;

  border: 0;
  border-radius: 4px;

  padding: 5px 6px 3px 6px;

  background-color: #9b4dca;
}
.slideBtns:hover { background-color: #606c76; }
.slideBtns > i {
  color: white;
  font-size: 40px;
}
.slideBtns:hover > i {
  color: #00baff;
  /*
  1. 00baff
  2. 9b4dca
  */
}
/* Slide 02 SPECIAL CASE */
#slide02gradient {
  position: absolute;
}
#slide02img {
  position: relative;
}

/* KATALOG */

/* KONTAKT */
#copied {
  font-size: 20px;
  color: white;

  padding: 8px;
  border-radius: 5px 0 0 5px;

  position: relative;
  top: 3px;
}
/* CSS Gradients */
#gradient01 {
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f953c6, #b91d73); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f953c6, #b91d73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* CSS Animations */
.slide {
  transition: transform 0.6s;
}
.fade-in-cover {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}
.fade-in-buttons {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
